body {
    color: #080707;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.5;
    margin: 0;
    text-align: left;

}
@keyframes gradient {
    % {
        background-position: 0 50%;
    }
    100% {
        background-position: 100% 50%;
    }
    150% {
        background-position: 0% 50%;
    }
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
}

.header {
    background: linear-gradient(-50deg,#a2ff91,#fffcfc,#a2ff91);
    background-size: 400%, 400%;
    animation: gradient 10s ease infinite;
    color: #080707;
    padding: 2rem 1rem;
    text-align: center;
}

.section {
    padding: 0.5rem 2rem 1rem 2rem;
}

.section:hover {
    background-color: #f4fae8;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 58px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18 px;
}


button, input[type="submit"] {
    background-color: #dcf58e;
    border: 2px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
}


input[type="text"] {
    line-height: 1.8;
    width: 15%;
}

input[type="text"]:hover {
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}
